<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<h1>Create an account</h1>
<form th:action="@{/register}" method="POST">

    <label for="first_name">First Name</label>
    <input required id="first_name" name="first_name" />

    <label for="last_name">Last Name</label>
    <input id="last_name" name="last_name" />

    <label for="username">Username</label>
    <input required id="username" name="username" />

    <label for="email">Email</label>
    <input required id="email" name="email" />

    <label for="password">Password</label>
    <input required id="password" type="password" name="password" />

    <input value="Register" type="submit" />
</form>
</body>
</html>